<section class="hero-section d-flex justify-content-center align-items-center">
  <div class="container">
    <div class="hero-card mx-auto p-5 text-white">
      <h1 class="card-title mb-3">Mohamed M. Rashed</h1>
      <h5 class="mb-4">Full Stack PHP Developer</h5>
      <div class="d-flex justify-content-center gap-5 mt-2">
        <a href="" target="_blank" class="btn btn-primary rounded-3">
          LinkedIn <i class="fab fa-linkedin ms-1"></i>
        </a>
        <a
          href="https://github.com/MohamedMam20"
          target="_blank"
          class="btn btn-dark rounded-3"
        >
          GitHub <i class="fab fa-github ms-1"></i>
        </a>
      </div>
    </div>
  </div>
</section>
