<footer class="bg-dark text-white py-4">
  <div class="container text-center">
    <div class="mb-3">
      <a href="https://www.facebook.com" target="_blank" class="text-white me-3"
        ><i class="fab fa-facebook fa-lg"></i
      ></a>
      <a
        href="https://wa.me/2001069066573"
        target="_blank"
        class="text-white me-3"
        ><i class="fab fa-whatsapp fa-lg"></i
      ></a>
      <a
        href="https://www.linkedin.com/in/mohamed-m-rashed-322010329/"
        target="_blank"
        class="text-white"
        ><i class="fab fa-linkedin fa-lg"></i
      ></a>
    </div>
    <p class="mb-0">
      &copy; {{ currentYear }} Mohamed M. Rashed. All rights reserved.
    </p>
  </div>
</footer>
