<section
  class="min-vh-100 py-5 about d-flex justify-content-center align-items-center text-white"
>
  <div class="about-container container text-center m-5 rounded-5">
    <h1 class="mb-4 mt-4">About Me</h1>
    <p class="lead">
      I am a Full Stack PHP Developer with a passion for building dynamic,
      user-friendly websites and web applications. I specialize in PHP,
      JavaScript, HTML, CSS, and MySQL, with experience in frameworks like
      Laravel. My goal is to create seamless, efficient solutions for both
      frontend and backend systems.
    </p>
    <a href="#" download class="btn btn-outline-primary mt-3 mb-3">
      <i class="fas fa-download me-2"></i>Download CV
    </a>
  </div>
</section>
