<section
  id="contact-page"
  class="min-vh-100 py-5 contact d-flex justify-content-center align-items-center text-white"
>
  <div
    class="container container-contact rounded-5 p-5 m-3 w-100 w-sm-75 w-md-50 w-lg-25"
  >
    <h1 class="text-center mb-4">Contact</h1>
    <form class="mx-auto">
      <div class="mb-3">
        <label for="name" class="form-label">Name:</label>
        <input
          type="text"
          class="form-control"
          id="name"
          required
          placeholder="Enter your full name"
        />
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email:</label>
        <input
          type="email"
          class="form-control"
          id="email"
          required
          placeholder="Enter your email"
        />
      </div>
      <div class="mb-3">
        <label for="message" class="form-label">Message:</label>
        <textarea
          class="form-control"
          id="message"
          rows="4"
          placeholder="Enter the message here..."
        ></textarea>
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-primary w-25">Submit</button>
      </div>
    </form>
  </div>
</section>
